.footer-nav {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e56a33;
  border: none;
  z-index: 5000;
}

@media (min-width: 1200px) {
  .footer-nav td {
    padding: 4px 0 6px;
    text-align: center;
  }
}

@media (max-width: 1199px) {
  .footer-nav td {
    padding: 4px 0;
    text-align: center;
  }
}

.footer-nav .four td {
  width: 25%;
}

.footer-nav .five td {
  width: 20%;
}

.footer-nav .three td {
  width: 33%;
}

.footer-nav .two td {
  width: 50%;
}

.footer-nav .btn {
  width: 100%;
  height: 100%;
  padding: 0 6px;
}

.footer-nav .btn.btn-link {
  color: #222;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer-nav .btn.btn-link:active, .footer-nav .btn.btn-link.active {
  color: #fff;
}

.footer-nav .store-name {
  width: 96%;
  position: absolute;
  bottom: 0;
  left: 2%;
  margin-bottom: 0;
  font-family: 'Anton';
  font-size: 85%;
  z-index: 999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.footer-nav i.small {
  font-size: 12px;
}

.footer-nav i {
  font-size: 16.5px;
}

