.head-navbar {
  background-color: #faf8f7;
  box-shadow: 0.2px 0.2px 2px #999;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 4px;
  z-index: 999999;
  display: flex;
  align-items: center;
}

.head-navbar h3, .head-navbar .h3 {
  position: absolute;
  font-family: 'Anton';
  color: #e56a33;
  text-transform: capitalize;
  margin-bottom: 0;
  font-size: 18px;
  max-width: 70%;
  max-height: 44px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 2px;
}

@media (min-width: 768px) {
  .head-navbar h3, .head-navbar .h3 {
    left: 60px;
  }
}

@media (max-width: 767px) {
  .head-navbar h3, .head-navbar .h3 {
    left: 30px;
  }
}

headnavbar .h3 span, .head-navbar h3 span {
  margin-left: 2px;
  font-size: 90%;
  font-family: 'Montserrat';
}

.side-nav-toggle {
  margin: 10px;
  padding: 0 12px;
  cursor: pointer;
}

.head-navbar a:hover {
  text-decoration: none;
}

.head-navbar-hamburger {
  position: absolute;
  left: 0;
}

@media (min-width: 768px) {
  .head-navbar a {
    /*font-size: 15px;*/
    padding: 6px;
  }
}

@media (max-width: 767px) {
  .head-navbar a {
    /*font-size: 13px;*/
    padding: 6px 4px;
  }
}

.head-navbar a {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  color: #e56a33!important;
}

.head-navbar .left {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .head-navbar .left, .head-navbar .right {
    min-width: 50px;
  }
}

@media (max-width: 767px) {
  .head-navbar .left, .head-navbar .right {
    min-width: 25px;
  }
}

.head-navbar .right {
  position: absolute;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .head-navbar i {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .head-navbar i {
    font-size: 22px;
  }
}

.head-navbar .btn {
  color: #e56a33;
  padding: 6px 12px;
  margin-left: 4px;
  max-width: 20%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .head-navbar .btn.left {
    margin: 0;
    padding: 6px;
  }
}

@media (max-width: 767px) {
  .head-navbar .btn.left {
    margin: 0;
    padding: 6px 4px;
  }
}

.head-navbar.overlay {
  z-index: 1010;
}

.head-navbar .search {
  display: flex;
  width: 90%;
  align-items: center;
}

.head-navbar .search .btn {
  text-transform: lowercase;
}

.head-navbar .centre {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

.head-navbar .centre h3 {
  max-width: 100%;
  max-height: 26px;
}

.head-navbar .centre .btn {
  max-width: 100%;
  padding: 2px 4px;
  font-size: 85%;
}

.head-navbar .centre .btn .icon {
  font-size: 13px;
  padding-left: 2px;
}

.head-navbar.store h3, .head-navbar.store a, .head-navbar.store .btn {
  color: #469d73!important;
}

.head-navbar.publish h3, .head-navbar.publish a, .head-navbar.publish .btn {
  color: #2e57a5!important;
}

