.modal-header {
  background-color: #faf8f7;
  font-variant-caps: all-small-caps;
  box-shadow: 0.5px 1px 0.5px #cccccc;
  border-bottom: 0.5px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  padding: 6px 10px;
}

.modal-body .btn {
  width: 100px;
}

.modal-footer .btn {
  font-weight: bold;
  min-width: 90px;
  max-width: 40%;
  font-size: 80%;
  border: none;
  width: unset;
  height: unset;
  padding: .375rem .75rem;
}

.modal-form .form-control {
  width: 75%;
  padding-left: 2%;
  float: right;
  margin-right: 2%;
}

#modal-accept, #modal-refuse {
  z-index: 99999;
}

.modal-backdrop {
  z-index: -1;
}

.modal-title {
  font-size: 18px;
}

.modal {
  height: 80%;
  top: 50px;
  max-height: 90vh;
}

.call-modal {
  cursor: pointer;
}

@media (max-width: 575px) {
  #modal-full-img .far.fa-times-circle {
    display: none;
  }
}

@media (min-width: 576px) {
  #modal-full-img .far.fa-times-circle {
    font-size: 180%;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
  }
}

@media (max-width:1199px) {
  .modal-title {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .modal-title {
    font-size: 26px;
  }
}

.modal-title.publish {
  color: #2e57a5;
}

.modal-title.store {
  color: #469d73;
}

.modal-title {
  font-weight: bold;
  font-variant-caps: all-small-caps;
  color: #e56a33;
  margin-left: auto;
}

.modal-footer {
  background-color: #faf8f7;
  box-shadow: 0.5px 1px 0.5px #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
}

.modal-footer .btn-link, #modal-cookies .btn-link {
  color: #d6980e;
  font-weight: bold;
  min-width: 90px;
}

@media (max-width:767px) {
  .kamli-image-modal {
    width: 55px;
  }
}

@media (min-width:1200px) {
  .kamli-image-modal {
    width: 100px;
  }
}

@media (min-width:768px) and (max-width:1199px) {
  .kamli-image-modal {
    width: 75px;
  }
}

.modal label {
  font-weight: bold;
  margin: 0 4px;
}

.modal-backdrop {
  z-index: -1;
  background-color: transparent;
}

@media (max-width: 565px) {
  .modal-img-div {
    width: 90px;
    height: 90px;
    overflow: hidden;
  }
}

@media (min-width: 567px) {
  .modal-img-div {
    width: 150px;
    height: 150px;
    overflow: hidden;
  }
}

.modal-img-div img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

#full-video .far.fa-times-circle, #full-img .far.fa-times-circle {
  font-size: 200%;
  position: absolute;
  top: 3%;
  right: 2%;
  z-index: 100;
  background-color: #fff;
  color: #000;
}

#modal-large-img img {
  max-height: 80vh;
}

#modal-large-video video {
  width: 100%;
}

#modal-large-video .far.fa-times-circle, #modal-large-img .far.fa-times-circle {
  font-size: 200%;
  position: absolute;
  top: 3%;
  right: 2%;
  z-index: 100;
  background-color: #fff;
  color: #000;
}

#modal-cookies .btn {
  padding: .375rem .75rem;
  width: unset;
  min-width: 100px;
}

