.multi-check-select input[type=checkbox] {
  width: 16px;
  height: 16px;
  margin-top: 0;
}

.multi-check-select {
  max-width: 500px;
  max-height: 149px;
  overflow-y: scroll;
  padding: 6px 2%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.3px solid rgba(240, 240, 240, 0.8);
}

.multi-check-select label {
  margin: 0 0 0 8px;
}

.multi-check-select .form-check:hover {
  background-color: rgba(182,182,182,0.5);
}

.multi-check-select .form-check {
  padding: 6px 6px 6px 24px;
}

