.mobile-sidenav {
  background-color: rgb(87,87,87);
  position: fixed;
  top: 40px;
  left: -999px;
  width: 310px;
  height: 100%;
  transition: left 0.2s;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: left 0.2s;
  -moz-transition: left 0.2s;
  -ms-transition: left 0.2s;
  -o-transition: left 0.2s;
  transition: left 0.2s;
  z-index: 99999;
  display: block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-family: 'Abel';
}

.mobile-sidenav .phm-close {
  display: block;
  background-color: #e56a33;
  cursor: pointer;
  color: #fff;
  overflow: hidden;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.side-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  clear: both;
}

.side-menu .side-menu-item {
  display: block;
}

.mobile-sidenav ul li a:hover {
  background-color: rgba(93,93,93,0.7);
  font-weight: 800;
  text-decoration: none;
  border: 1px solid #878787;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.mobile-sidenav ul li a {
  padding: .857em 1.387em;
  display: inline-block;
  width: 100%;
  color: #fff;
}

.mobile-sidenav .phm-close:before {
  font-family: "FontAwesome";
  font-weight: 400;
  content: '\f00d';
  margin-right: 1em;
  display: inline-block;
  padding: .857em 0 .857em 1.387em;
}

