.switch {
  position: relative;
  display: inline-block;
  width: 56px;
}

@media (min-width: 768px) {
  .switch {
    margin: 0 2px 0;
    height: 24px;
  }
}

@media (max-width: 767px) {
  .switch {
    margin: 0 4px 0;
    height: 20px;
  }
}

.switch input {
  display: none;
}

@media (max-width: 767px) {
  .slider {
    height: 24px;
  }
}

@media (min-width: 768px) {
  .slider {
    height: 28px;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e23d28;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.slider:before {
  position: absolute;
  content: "";
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .slider:before {
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
  }
}

@media (max-width: 767px) {
  .slider:before {
    height: 16px;
    width: 16px;
    left: 5px;
    bottom: 4px;
  }
}

@media (max-width: 767px) {
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
}

@media (min-width: 768px) {
  input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }
}

input:checked + .slider {
  background-color: #20e01c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #20e01c;
}

.switch-row {
  margin: 8px 2px;
}

.switch-row .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 0;
}

.switch-row .form-group label {
  font-weight: bold;
  margin-bottom: 0;
  width: 35%;
  min-width: 55px;
  text-align: right;
}

.flag-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 5px;
}

.flag-col label, .flag-col-wtitle label {
  font-weight: bold;
  margin-bottom: 0;
}

.active-div {
  display: inline-flex;
  align-items: center;
  padding: 0 6px;
}

.active-div .fa.fa-times, .active-div .fa.fa-eye-slash, .active-div .fa.fa-lock, .active-div .fa.fa-star-half-o {
  color: #e23d28;
}

.active-div i {
  font-size: 120%;
  color: #666666;
  min-width: 15px;
}

@media (max-width: 767px) {
  .active-div.small i {
    font-size: 12px;
    color: #666666;
  }
}

@media (min-width: 768px) {
  .active-div.small i {
    font-size: 15px;
    color: #666666;
  }
}

.active-div .fa.fa-check, .active-div .fa.fa-eye, .active-div .fa.fa-unlock, .active-div .fa.fa-star, .active-div .fa.fa-tv {
  color: #20e01c;
}

.active-div.small {
  font-size: 70%;
}

.active-div.small .switch {
  width: 42px;
  height: 20px;
}

@media (min-width: 768px) {
  .active-div.small .slider:before {
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 4px;
  }
}

@media (max-width: 767px) {
  .active-div.small .slider:before {
    height: 11px;
    width: 11px;
    left: 3px;
    bottom: 4px;
  }
}

@media (min-width: 768px) {
  .active-div.small .slider {
    height: 20px;
  }
}

@media (max-width: 767px) {
  .active-div.small .slider {
    height: 18px;
  }
}

.active-div.small input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

.switch label {
  color: transparent;
  margin: 8px 10px;
  height: 1px;
}

.flag-col-wtitle {
  text-align: center;
  padding: 8px 5px;
}

.flag-col-wtitle .inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-title {
  text-transform: uppercase;
  margin-bottom: 4px;
  font-weight: 700;
}

.flag-title i {
  padding: 0 4px;
}

