body, ion-content {
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fcfefd;
}

a, .btn.btn-link {
  color: #e56a33;
}

a:hover {
  color: #e56a33;
}

.grey-background {
  overflow: hidden;
  background-color: rgba(220, 220, 220, 0.8);
}

.pale-background {
  background-color: rgba(255,255,255,0.6);
  overflow: hidden;
}

.extra-pale-background {
  background-color: rgba(255,255,255,0.4);
  overflow: hidden;
  box-shadow: 0.5px 0.5px 0px #444;
}

.small, small {
  font-size: 85%;
}

.x-small {
  font-size: 80%;
}

.btn:hover, .btn:focus {
  outline: none;
  border-color: transparent!important;
  box-shadow: none!important;
}

@media (max-width:767px) {
  .btn {
    padding: 4px 6px;
  }
}

.btn {
  font-size: inherit;
  border: none;
}

.btn-orange {
  color: #fff!important;
  background-color: #e56a33;
}

.btn-orange:hover {
  background-color: #dc8056;
}

.btn-green {
  background-color: #469d73;
  color: #fff!important;
}

.btn-green:hover {
  background-color: #6da389;
  color: rgba(255,255,255,0.7)!important;
}

.btn-grey {
  background-color: #777777;
  color: #fff!important;
}

.btn-grey.load {
  width: 5%;
  min-width: 40px;
  max-width: 50px;
  padding: 0;
}

.btn-grey:hover {
  background-color: #929292;
  color: rgba(255,255,255,0.7)!important;
}

.btn-red {
  background-color: #b72b2b;
  color: #fff!important;
}

.btn-red:hover {
  background-color: #bb4949;
  color: rgba(255,255,255,0.7)!important;
}

.btn-clear {
  background-color: transparent;
  outline: none;
}

.btn-clear:hover, .btn-clear:focus {
  background-color: transparent;
}

.btn-dark:hover {
  color: rgba(255,255,255,0.7);
  background-color: #23272b;
  border-color: transparent;
}

.btn-store-o {
  color: #469d73;
  background-color: rgba(70,157,115,0.2);
  font-weight: 600;
  border: 2px solid #469d73;
}

.btn-store-o:hover {
  color: #469d73;
  background-color: #e9ecef;
  border: 2px solid #469d73!important;
}

.btn-publish-o {
  color: #2e57a5;
  background-color: rgba(46,87,165,0.2);
  font-weight: 600;
  border: 2px solid #2e57a5;
}

.btn-publish-o:hover {
  color: #2e57a5;
  background-color: #e9ecef;
  border: 2px solid #2e57a5!important;
}

@media (max-width: 767px) {
  .form-control {
    height: calc(1.5em + .75rem);
    padding: 4px 8px;
  }
}

.form-control:focus {
  background-color: #fff;
  border-color: rgba(215,115,69,0.3);
  outline: 0;
  box-shadow: 0 0 0 .1rem rgba(215,115,69,0.3);
}

.form-control:disabled {
  background-color: rgba(255,255,255,0.8);
}

.form-control[readonly] {
  background-color: #e9ecef;
}

.form-control {
  border: 1px solid rgba(215,115,69,0.3);
}

.form-control.error, .form-control.error:focus {
  border-color: red;
  box-shadow: 0 0 0 .1rem rgba(255,0,0,0.5);
}

.txt-orange {
  color: #e56a33;
}

.txt-grey {
  color: #808080;
}

.txt-highlight {
  color: #e5de33;
}

.txt-red {
  color: #e23d28;
}

.txt-green {
  color: #20e01c;
}

.txt-store {
  color: #469d73;
}

.txt-publish {
  color: #2e57a5;
}

.top-btns .btn {
  min-width: 100px;
  text-transform: uppercase;
  margin: 0 2px;
}

.top-btns.icons .btn {
  min-width: 50px;
}

.top-btns.icons .btn i {
  font-size: 120%;
}

.top-btns {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}

.top-btns.end {
  display: flex;
  justify-content: flex-end;
}

.top-btns.one {
  display: flex;
  justify-content: center;
}

.div-fixed-50 {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 46px;
  z-index: 1000;
  background-color: #faf8f7;
  padding: 10px 6px;
  box-shadow: 0.2px 0.2px 2px #999;
}

.div-fixed-50 .icon {
  font-size: 20px;
}

.div-fixed-50 .search {
  display: flex;
  width: 90%;
  align-items: center;
  margin: 0 auto;
}

.icon-column a {
  color: #666666;
}

@media (min-width: 992px) {
  .one-item-div {
    padding: 8px 10px 6px;
    margin: 16px 0;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .one-item-div {
    padding: 8px 6px 6px;
    margin: 10px 0;
  }
}

@media (max-width: 575px) {
  .one-item-div {
    padding: 8px 6px 6px;
    margin: 8px 0;
  }
}

.one-item-div {
  background-color: rgb(255,255,255);
  overflow: hidden;
  box-shadow: 0.5px 0.5px 5px #999;
}

.one-item-div .row {
  margin: 0 0 2px;
}

.one-item-div .col, .one-item-div .col-12, .one-item-div .col-11, .one-item-div .col-10, .one-item-div .col-9, .one-item-div .col-8, .one-item-div .col-7, .one-item-div .col-6, .one-item-div .col-5, .one-item-div .col-4, .one-item-div .col-3, .one-item-div .col-2, .one-item-div .col-1 {
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0 8px;
}

.one-item-div p {
  margin-bottom: 6px;
  line-height: 1.2;
}

.one-item-div h6, .one-item-div .h6 {
  margin-bottom: 4px;
  margin-right: 8px;
  color: #e56a33;
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 95%;
}

.one-item-div h6.not-u, .one-item-div .h6.not-u {
  text-transform: capitalize;
}

.one-item-div span {
  color: initial;
  padding-left: 4px;
}

.food-link-div p {
  margin-bottom: 0;
}

.food-link-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110%;
}

a.plain-link {
  text-decoration: none;
  color: initial;
}

.inner-div {
  position: relative;
  padding: 50px 0 80px;
  max-width: 900px;
  margin: auto;
}

.inner-div-x {
  position: relative;
  padding: 104px 0 80px;
  max-width: 900px;
  margin: auto;
}

.inner-div-x.form-page {
  height: 100vh;
  overflow: hidden;
  max-width: 600px;
  padding: 100px 0 70px;
}

.bottom-margin {
  padding-bottom: 150px;
}

.blank-space {
  background-color: #fff;
  font-size: 1.2em;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  height: 60vh;
  min-height: 400px;
  box-shadow: 1px 1px 0px #ccc;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big {
  font-size: 140%;
}

.filter-form .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-bottom: 12px;
}

.filter-form {
  background-color: rgba(255,255,255,0.9);
  text-align: center;
  padding: 16px 10px 4px;
  max-width: 600px;
  margin: 16px auto;
  box-shadow: 1px 1px 1px #aaa;
}

.settings-form {
  text-align: center;
  padding: 0 0 50px;
  max-width: 400px;
  margin: auto;
}

.settings-form .mode {
  font-weight: bold;
  text-transform: uppercase;
}

.settings-form .info {
  font-size: 90%;
  margin: 8px 0 30px;
  text-align: left;
}

.seperate-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-form.limit-height {
  max-height: 30vh;
  overflow-y: scroll;
}

.filter-form label {
  font-weight: 600;
}

.version {
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center;
  color: initial;
  font-size: 12px;
}

.div-legal {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20%;
  margin-top: 75px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 350px) {
  .div-legal {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.div-legal .btn {
  max-width: 600px;
}

.lg {
  font-size: 130%;
}

.bit-big {
  font-size: 110%;
}

@media (max-width: 575px) {
  .h6, h6 {
    font-size: 13px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .h6, h6 {
    font-size: 14px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .h6, h6 {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .h6, h6 {
    font-size: 17px;
  }
}

@media (max-width: 575px) {
  .h5, h5 {
    font-size: 16px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .h5, h5 {
    font-size: 17px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .h5, h5 {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .h5, h5 {
    font-size: 22px;
  }
}

@media (max-width: 575px) {
  .h4, h4 {
    font-size: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .h4, h4 {
    font-size: 22px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .h4, h4 {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .h4, h4 {
    font-size: 26px;
  }
}

@media (max-width: 575px) {
  .h3, h3 {
    font-size: 24px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .h3, h3 {
    font-size: 26px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .h3, h3 {
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  .h3, h3 {
    font-size: 30px;
  }
}

@media (max-width:575px) {
  .h2, h2 {
    font-size: 29px;
  }
}

@media (min-width: 576px) and (max-width:767px) {
  .h2, h2 {
    font-size: 30px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .h2, h2 {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  .h2, h2 {
    font-size: 34px;
  }
}

@media (max-width:575px) {
  .h1, h1 {
    font-size: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .h1, h1 {
    font-size: 34px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .h1, h1 {
    font-size: 38px;
  }
}

@media (min-width: 1200px) {
  .h1, h1 {
    font-size: 42px;
  }
}

@media (max-width: 575px) {
  body, .form-control, ion-content {
    font-size: 12px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  body, .form-control, ion-content {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  body, .form-control, ion-content {
    font-size: 14px;
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  body, .form-control, ion-content {
    font-size: 15px;
  }
}

@media (min-width: 1500px) {
  body, .form-control, ion-content {
    font-size: 16px;
  }
}

.prod-name {
  font-family: 'Anton';
  padding: 4px 0 0;
  font-size: 110%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

@media (min-width: 768px) {
  .icon.ion-ios-arrow-right {
    font-size: 22px;
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .icon.ion-ios-arrow-right {
    font-size: 20px;
    padding: 0 6px;
  }
}

.icon-column {
  justify-content: flex-end;
  padding: 0!important;
}

.icon-column i {
  font-size: 110%;
}

.container-fluid.full {
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 400px) {
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.prod-details-div {
  padding: 8px 15px;
  background-color: rgba(255,255,255,0.7);
}

.item-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 8px;
}

@media (max-width: 767px) {
  .item-btns .btn {
    max-width: 110px;
    min-width: 100px;
    text-transform: uppercase;
    margin: 0 2px;
  }
}

@media (min-width: 768px) {
  .item-btns .btn {
    max-width: 150px;
    min-width: 120px;
    text-transform: uppercase;
    margin: 0 2px;
  }
}

.one-item-div a.plain-link .row {
  border-bottom: 1px solid rgba(215,115,69,0.3);
  padding: 6px 0 4px;
}

.one-item-div:first-child a.plain-link .row {
  border-top: 1px solid rgba(215,115,69,0.3);
}

.one-item-div a.plain-link .row:hover {
  background-color: rgb(250,248,247);
}

.one-item-div .date {
  font-size: 82%;
}

.one-item-div .cost {
  font-weight: 600;
}

.one-item-div .hdng {
  color: #e56a33;
  text-transform: uppercase;
}

.one-item-div .status, .modal .status {
  font-weight: 600;
  color: #e56a33;
  text-transform: uppercase;
  font-style: italic;
}

.one-item-div .service {
  font-weight: 600;
}

.one-item-div .for-date {
  font-weight: 600;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.one-item-div .end {
  justify-content: flex-end;
}

.sub-hdng {
  text-transform: uppercase;
  padding: 8px 8px 4px;
  font-weight: 600;
  margin-top: 12px;
}

.fixed-middle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pac-container {
  z-index: 1051 !important;
}

.choose-img-form .form-group {
  text-align: center;
  display: inline-block;
  width: 49%;
  padding: 4px 10px;
}

@media (max-width: 767px) {
  .choose-video-form .form-group {
    text-align: center;
    display: block;
    width: 100%;
    padding: 4px 10px;
    margin-bottom: 8px;
  }
}

@media (min-width: 768px) {
  .choose-video-form .form-group {
    text-align: center;
    display: inline-block;
    width: 49%;
    padding: 4px 10px;
    margin-bottom: 8px;
  }
}

@media (min-width: 768px) and (max-width: 889px) {
  .choose-video-form video {
    width: 360px;
  }
}

@media (min-width: 900px) {
  .choose-video-form video {
    width: 420px;
  }
}

@media (max-width: 767px) {
  .choose-video-form video {
    width: 90vw;
  }
}

@media (max-width: 575px) {
  .form-row .flag-col label, .form-row .flag-col-wtitle label {
    width: 60%;
  }
}

.ff-anton {
  font-family: 'Anton';
}

.image-in-btn {
  background-color: #808080;
  color: #ffffff;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-o-inner-spin-button, input::-o-outer-spin-button {
  -o-appearance: none;
  margin: 0;
}

.bold {
  font-weight: 600;
}

.medium {
  font-size: 95%;
}

.btn.btn-gotop:hover, .btn.btn-gotop:focus {
  color: #444444;
  border-color: #6c757d;
}

.btn.btn-gotop {
  float: right;
  position: relative;
  z-index: 99;
  padding: 2px 10px;
  border-radius: 300px;
  color: #6c757d;
  border: 1px solid #6c757d;
  margin-top: 12px;
}

.loyalty-input {
  text-align: center;
  font-size: 160%;
  margin: 20px 16px;
  width: 120px;
  height: 80px;
}

.points-tbl tr {
  padding: 3%;
}

.points-tbl td {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.points-tbl .btn {
  width: 20%;
  min-width: 120px;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 120%;
  padding-left: 5%;
}

.error-msg {
  background-color: #fff;
  box-shadow: 1px 1px 1px #999;
  padding: 24px 20px 6px;
  width: 90%;
  max-width: 500px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}

.info-box {
  max-width: 900px;
  border-radius: 5px;
  overflow: hidden;
  padding: 12px 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 6px 30px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 6px 30px rgba(0,0,0,0.2);
  box-shadow: 0px 6px 30px rgba(0,0,0,0.2);
}

input[type="file"] {
  background-color: #808080;
  color: #ffffff;
  padding: 1px;
}

.border-publish {
  border: 2px solid #2e57a5;
  padding: 4px 2px;
}

.border-store {
  border: 2px solid #469d73;
  padding: 4px 2px;
}

.one-notification {
  background-color: rgb(255,255,255);
  overflow: hidden;
  padding: 4px 6px 6px;
  box-shadow: 1px 1px 1px #888888;
  max-width: 500px;
  margin: 8px auto;
}

.one-notification .title {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 6px 6px;
}

.one-notification .info {
  font-size: 80%;
  color: #999999;
  padding: 0 0 6px 6px;
}

.one-notification img {
  object-fit: contain;
  max-width: 100%;
  object-position: top;
  height: unset;
  min-height: unset;
}

@media (max-width: 767px) {
  .one-notification .info img {
    max-height: 58px;
  }
}

@media (min-width: 768px) {
  .one-notification .info img {
    max-height: 74px;
  }
}

.one-notification .text {
  margin: 0 6px 2px;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.notification-div {
  background-color: #fff;
  padding: 16px 8px;
  max-width: 500px;
  margin: auto;
}

.notification-div .title {
  font-weight: 600;
  margin: 0 8px 8px;
}

.notification-div .info {
  font-size: 80%;
  color: #999999;
  display: flex;
  margin: 0 8px 8px;
}

.notification-div img {
  object-fit: contain;
  max-width: 100%;
  max-height: 320px;
}

