.table-background tr {
  background-color: #ffffff;
  width: 100%;
}

thead, th {
  font-family: 'Montserrat';
}

.table td, .table th {
  vertical-align: middle;
  line-height: 1.3rem;
}

.tbl-row-btm-border {
  border-bottom: 2px solid grey;
}

.tables-srch-div {
  position: fixed;
  top: 5%;
  left: 10%;
  width: 80%;
  box-shadow: 5px 8px 8px #878787;
  padding: 8% 0 6%;
  margin: 70px auto 0;
  background-color: rgba(77,77,77,0.9);
  font-family: 'Montserrat';
  color: white;
}

.tables-srch-div .btn-link {
  color: #fff;
  width: 250px;
  height: 100px;
}

.tables-table td {
  background-color: #fff;
}

.tbl-cell-link a {
  display: block;
  padding: 12px;
}

.mobile-table td {
  padding: 0 4px;
  vertical-align: middle;
  background-color: #fff;
  font-family: Montserrat;
}

.kadmin-table td {
  vertical-align: middle;
  background-color: #fff;
  font-family: Montserrat;
}

.mobile-table .btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4px;
  color: #212529;
}

.mobile-table .btn.plus {
  padding: 14px 4px;
}

.mobile-table .fas.fa-plus {
  float: right;
  font-size: 18px;
  padding-top: 2px;
}

.mobile-table .icon.ion-ios-arrow-right {
  color: #666666;
  padding: 0 0 0 8px;
}

.mobile-table thead th, .kadmin-table thead th {
  padding: 4px;
  font-family: 'Montserrat';
  background-color: rgba(215,115,69,0.3);
  vertical-align: middle;
  line-height: 1.3rem;
}

.mobile-table span {
  display: flex;
  align-items: center;
  max-width: 30%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 85%;
  background-color: #fff;
}

.kadmin-table thead th {
  color: #e56a33;
  font-weight: bold;
  border-bottom: 1px solid #e56a33;
  border-top: 1px solid #e56a33;
}

.table-mini {
  margin-bottom: -16px;
  font-size: 80%;
  border-bottom: transparent;
  max-width: 600px;
  margin: auto;
}

