.tabs-design {
  width: 100%;
  max-width: 900px;
  margin: auto;
  position: relative;
}

.tabs-design.plain .nav-item {
  background-color: transparent;
  padding-top: 0;
}

.tabs-design .nav-item {
  border: none;
  background-color: #faf8f7;
  padding-top: 1%;
}

.tabs-design .nav-link.active {
  color: #e56a33;
  font-weight: bold;
  text-shadow: 0.25px 0.25px 0.25px #888;
  border-bottom: 3px solid #e56a33;
  border-top: 1px solid #e56a33;
  border-left: 1px solid #e56a33;
  border-right: 1px solid #e56a33;
  margin: 0 8px;
}

.tabs-design .nav-link:focus, .tabs-design .nav-link:hover {
  border-color: #e56a33;
  color: #e56a33;
  background-color: #fff;
}

.tabs-design .nav-link {
  color: rgb(34,34,34);
  background-color: #f8f6f5;
  font-weight: 600;
  text-align: center;
  border-bottom: 3px solid rgba(229,106,51,0.5);
  border-top: 1px solid rgba(229,106,51,0.5);
  border-left: 1px solid rgba(229,106,51,0.5);
  border-right: 1px solid rgba(229,106,51,0.5);
}

.tabs-design .tab-pane {
  margin-top: 1%;
}

.tabs-design.fixed .nav-tabs, .tabs-design.fixed .tab-content {
  padding-top: 90px;
}

.tabs-design.fixed .nav-tabs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
}

