@media (max-width:1199px) {
  .ad-details-container .inner {
    padding: 12px 0;
  }
}

@media (min-width: 1200px) {
  .ad-details-container .inner {
    width: 80%;
    margin: auto;
    padding: 8px 0;
  }
}

@media (min-width: 768px) {
  .ad-details-container .form-group {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .ad-details-container .form-group label {
    color: #e5664a;
    text-transform: uppercase;
    width: 30%;
    font-weight: 500;
    padding-right: 5%;
  }
}

@media (max-width: 767px) {
  .ad-details-container .form-group label {
    color: #e5664a;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
  }
}

.progressbar {
  position: fixed;
  z-index: 999;
  color: black;
  font-size: 80%;
  counter-reset: step;
  width: 100%;
  background-color: #fff;
  border-bottom: 3px solid #e56a33;
  margin-top: -5px;
}

@media (min-width: 768px) {
  .progressbar {
    top: 48px;
    padding-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .progressbar {
    top: 48px;
    padding-bottom: 4px;
  }
}

.progressbar li.done {
  opacity: 0.6;
}

.progressbar li.active {
  color: #e56a33;
  font-weight: 600;
}

.progressbar li {
  list-style-type: none;
  float: left;
  position: relative;
  text-align: center;
}

.list-3 li {
  width: 33.3%;
}

.progressbar li.active:before {
  border-color: #e56a33;
  background-color: #e56a33;
}

.progressbar li:first-child:after {
  content: none;
}

@media (max-width: 577px) {
  .progressbar li:before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto 1px auto;
  }
}

@media (min-width: 578px) and (max-width: 1199px) {
  .progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 37px;
    margin: 0 auto 4px auto;
  }
}

@media (min-width: 1200px) {
  .progressbar li:before {
    width: 52px;
    height: 52px;
    line-height: 51px;
    margin: 0 auto 10px auto;
  }
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  border: 1px solid #999;
  display: block;
  text-align: center;
  /*margin: 0 auto 10px auto;*/
  border-radius: 50%;
  background-color: #444;
  color: #fff;
}

@media (max-width: 379px) {
  .after-progress {
    margin-top: 110px;
  }
}

@media (min-width: 380px) and (max-width: 639px) {
  .after-progress {
    margin-top: 110px;
  }
}

@media (min-width: 640px) and (max-width: 1199px) {
  .after-progress {
    margin-top: 130px;
  }
}

@media (min-width: 1200px) {
  .after-progress {
    margin-top: 145px;
  }
}

.progressbar .fa.fa-check {
  color: #008000;
  padding: 0px 4px;
}

.text-warning {
  color: #e56a33!important;
  text-shadow: 0.25px 0.25px 0.25px #999;
}

.kamli-form.group-padding-12 .form-group, .kamli-form.group-padding-12 .form-row {
  padding: 12px;
}

.kamli-form .form-group, .kamli-form .form-row {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
  padding: 0 1%;
}

.kamli-form label {
  padding: 0 0 0 5%;
}

.header-ff {
  font-family: 'Anton';
}

.text-ka-color {
  color: #e5664a;
}

.qty-input {
  width: 40px!important;
  font-weight: bold;
  text-align: center;
  border: none;
  margin: 0 4px;
  padding: 0 4px;
  background-color: #fff;
}

.l-img-div {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.p-img-div {
  max-width: 340px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.one-item-div .btmborder {
  border-bottom: 1.5px solid #e6e6e6;
  padding: 4px 8px 0!important;
}

@media (min-width: 768px) {
  .ad-details-container .form-group.not-flex {
    display: block;
  }
}

.div-template {
  max-width: 400px;
  margin: 0 auto;
}

.form-info {
  font-family: 'Roboto';
  padding: 16px 2% 12px;
  margin-bottom: 0;
  font-size: 110%;
}

.img-fluid.mobile-img {
  width: 50%;
  min-width: 300px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video-div {
  /*background-color: rgba(255,255,255,0.7);*/
  /*padding: 2%;*/
  /*text-align: center;*/
}

.subhead, .collapse-subhead .btn {
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  box-shadow: 0.5px 0.5px 5px #999999;
  background-color: rgba(255,255,255,0.9);
  padding: 8px;
}

.collapse-subhead .btn:focus, .collapse-subhead .btn:active, .collapse-subhead .btn:hover {
  box-shadow: 0.5px 0.5px 5px #999999;
}

.collapse-subhead {
  padding-bottom: 24px;
}

.collapse-subhead .btn {
  font-size: 101%;
}

.light-hdr th {
  font-weight: 500;
}

.form-date-range {
  display: inline-flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  font-size: 95%;
}

.siren-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255,255,255,0.7);
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 768px) {
  .siren-div {
    padding-left: 20%;
  }
}

.siren-div .form-group {
  background-color: transparent;
  border-bottom: none;
}

.ad-details-container .siren-div label {
  width: unset;
}

@media (max-width: 767px) {
  .choose-ad-media .form-group {
    height: 50vw;
    max-height: 200px;
    padding: 2px;
  }
}

@media (min-width: 768px) {
  .choose-ad-media .form-group {
    height: 50vw;
    max-height: 210px;
    padding: 4px;
  }
}

@media (max-width: 360px) {
  .choose-ad-media .form-group {
    width: 100%;
    position: relative;
    text-align: center;
    border-bottom: 0.2px solid #cccccc;
    margin-bottom: 4px;
  }
}

@media (min-width: 361px) {
  .choose-ad-media .form-group {
    position: relative;
    text-align: center;
    width: 50%;
    border: 0.2px solid #cccccc;
    margin-bottom: 0;
  }
}

.choose-ad-media .form-group p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 90%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
  padding: 0 4px 4px;
}

@media (min-width: 768px) {
  .choose-ad-media .media-div {
    height: 45vw;
    max-height: 160px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .choose-ad-media .media-div {
    height: 45vw;
    max-height: 150px;
    width: 100%;
  }
}

.choose-ad-media .media-div.video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-ad-media .media-div.video video {
  width: 100%;
  max-width: 300px;
}

.choose-ad-media img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ad-list {
  background-color: rgba(255,255,255,0.6);
  overflow: hidden;
  text-align: center;
  padding: 2% 0;
  position: relative;
}

.ad-list .list-inline-item {
  position: relative;
  background-color: rgb(255,255,255);
  overflow: hidden;
  box-shadow: 0.5px 0.5px 5px #999;
  padding: 2%;
}

.ad-list .list-inline-item:not(:last-child) {
  margin-right: 0;
}

@media (max-width: 360px) {
  .ad-list .list-inline-item {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .ad-list .list-inline-item {
    width: calc(50% - 2px);
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    margin-top: 4px;
  }
}

@media (min-width: 768px) {
  .ad-list .list-inline-item {
    width: calc(33% - 2px);
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-top: 6px;
  }
}

.ad-list .list-inline-item .media-div {
  height: 18vh;
  min-height: 130px;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad-list .list-inline-item .media-div video {
  max-width: 100%;
  height: 100%;
  width: auto;
}

.ad-list .list-inline-item .media-div img {
  max-height: 100%;
  max-width: 100%;
}

.ad-list .list-inline-item .info {
  padding: 4px 6px;
}

.ad-list .list-inline-item .info p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ad-list .list-inline-item .info .status {
  color: #e56a33;
}

.ad-list .list-inline-item .info .item-btns {
  margin: 2px 8px;
}

