.bg-screen {
  display: block;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  width: 100%;
  max-width: 1024px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: auto;
  border-left: 0.5px solid #cccccc;
  border-right: 0.5px solid #cccccc;
}

.bg-screen.index {
  background-image: url("../../assets/img/background-kamlinet-sm.png");
}

.bg-screen.signage {
  background-image: url("../../assets/img/background-kamlinet-sm.png");
}

.bg-screen.net {
  background-image: url("../../assets/img/background-kamlinet-sm.png");
}

.screen-page {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.background-grey {
  background-color: #f0efee;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 0.5px solid #cccccc;
  border-right: 0.5px solid #cccccc;
}

.bg-orders {
  background-color: #f0efee;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 0.5px solid #cccccc;
  border-right: 0.5px solid #cccccc;
}

.bg-orders-sm {
  background-color: #f0efee;
}

.bg-loyalty-sm {
  background-color: #f0efee;
}

.bg-publish {
  background-color: #f0efee;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 0.5px solid #cccccc;
  border-right: 0.5px solid #cccccc;
}

.bg-publish-sm {
  background-color: #f0efee;
}

.bg-locations {
  background-color: #f0efee;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 0.5px solid #cccccc;
  border-right: 0.5px solid #cccccc;
}

