.one-cat-title {
  padding: 8px 4px;
  background-color: rgb(218,185,169);
  margin-bottom: 0;
}

.section-title {
  padding: 4px;
  background-color: rgba(215,115,69,0.3);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-div img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.img-div img.contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 600px;
  max-width: 600px;
}

@media (min-width: 992px) {
  .img-div img {
    max-width: 210px;
    max-height: 210px;
  }
}

@media (min-width: 992px) {
  .img-div.full img {
    max-width: 600px;
    max-height: 600px;
  }
}

.img-div {
  overflow: hidden;
  text-align: center;
  margin: 0 auto 8px;
}

.img-div.c5 {
  width: calc(100vw*0.28);
  height: calc(100vw*0.28);
  max-width: 93%;
  max-height: 165px;
}

.img-div.c7 {
  width: calc(100vw*0.48);
  height: calc(100vw*0.48);
  max-width: 93%;
  max-height: 210px;
}

.img-div.full {
  width: calc(100vw*0.90);
  height: calc(100vw*0.90);
  max-width: 600px;
  max-height: 600px;
}

.one-service {
  width: 33.3%;
  text-align: center;
}

.one-service label {
  display: block;
}

.comp-prod-item {
  border-bottom: 1px solid #e6e6e6;
}

.comp-prod-item .item {
  padding: 8px 4px;
}

.comp-prod-item .btn.delete-btn:hover {
  color: red;
  background-color: #f89f9f;
}

.comp-prod-item .btn.delete-btn {
  color: red;
  background-color: #f89f9f;
  width: initial;
  padding: 2px 8px;
  justify-content: center;
}

.one-prod-div .main {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #212529;
  border-bottom: 1px solid #e6e6e6;
  padding: 6px 4px 6px 8px;
}

.one-prod-div .flags {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 120%;
  padding: 0 0 0 2px;
  overflow: hidden;
}

.one-prod-div .name {
  margin-bottom: 0px;
  width: 62%;
}

.one-prod-div .cost {
  margin-bottom: 0;
  width: 23%;
  font-size: 90%;
  padding: 0 8px;
  text-align: right;
  overflow: hidden;
  white-space: normal;
}

.one-item-media.prod {
  padding: 4px 0 70px;
}

