.kamli-controls {
  position: relative;
}

@media (max-width: 1199px) {
  .kamli-controls {
    width: 300px;
    height: 150px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .kamli-controls {
    width: 300px;
    height: 150px;
    margin: 0 auto;
  }
}

.kamli-controls .btn:focus, .kamli-controls .btn:hover {
  color: #000000;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.kamli-controls .control.prev {
  left: 0;
}

.kamli-controls .control.next {
  right: 0;
}

.kamli-controls .control.up {
  top: 0;
}

.kamli-controls .control.down {
  bottom: 0;
}

.kamli-controls .control.prev, .kamli-controls .control.next {
  top: 25%;
  bottom: 25%;
  width: 20%;
}

.kamli-controls .control.up, .kamli-controls .control.down {
  left: 20%;
  right: 20%;
  height: 25%;
}

.kamli-controls .control {
  position: absolute;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  color: #000000;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

.kamli-controls .control i {
  font-size: 30px;
}

.kamli-controls .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

