.boxes-div {
  box-shadow: 5px 8px 8px #878787;
  padding: 0 0 6px;
  margin: 24px 1%;
  border: 4px solid #878787;
  background-color: #fff;
}

.boxes-div .hdng {
  text-transform: uppercase;
  padding-left: 10px;
}

.boxes-div .s-name {
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 5px 6px 10px;
  border-bottom: 2px solid #878787;
}

.boxes-div p {
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boxes-div .p-name {
  font-family: 'Anton';
  text-transform: capitalize;
  padding: 8px 0 0 10px;
}

.boxes-div .mode {
  padding: 6px 0;
  font-weight: 600;
}

.boxes-div .icon-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box-mode-div {
  padding: 0 0 16px 0;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0.5px 0.5px 5px #999;
}

.box-mode-div .h6, .box-mode-div h6 {
  /*color: #e56a33;*/
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  /*background-color: rgba(215,115,69,0.3);*/
  padding: 10px 0 6px;
}

.text-center.box-mode-div .btn {
  width: 30%;
  min-width: 200px;
  margin-top: 16px;
}

.box-name {
  margin: 0 8px 2px 0;
  font-family: 'Anton';
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.change-mode-div .one-mode .c-btn {
  width: 100%;
  font-size: 110%;
  padding: 12px 8px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  box-shadow: 5px 8px 8px #878787;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(77,77,77);
  margin: 0 auto 18px;
}

.change-mode-div {
  background-color: rgba(255,255,255,0.8);
  padding: 8px;
}

.change-mode-div .title {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Anton';
  padding: 8px 0;
}

.change-mode-div .one-mode .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 16px;
}

.change-mode-div .one-mode .top p {
  margin: 0 4px 0 0;
  color: #e56a33;
  font-size: 110%;
}

.add-box-div {
  background-color: rgb(253,241,215);
  padding: 2% 1% 0;
  box-shadow: 0.5px 0.5px 5px #999;
  margin: 40px 0 20px;
}

.add-box input {
  width: 14%;
  max-width: 80px;
  margin: auto;
  font-weight: 800;
  font-size: 120%;
  text-align: center;
}

.add-box input:focus {
  outline: none;
  border: 2px solid #e56a33;
  box-shadow: none;
}

.add-box {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.add-box hr {
  margin: 0 2%;
  border-top: 1px solid #222;
  width: 4%;
}

.row-red {
  background-color: rgba(255,31,0,0.6);
}

.row-red-lt {
  background-color: rgba(215,115,69,0.3);
}

.row-green {
  background-color: rgba(30,181,58,0.5);
}

.row-grey {
  background-color: rgb(204,204,204);
}

.code-page {
  max-width: 600px;
  margin: auto;
  padding: 16px;
}

.code-page .logo {
  width: 30%;
  max-width: 250px;
  margin-bottom: 16px;
}

.code-page .logo:hover {
  cursor: pointer;
}

.register-link {
  box-shadow: 5px 8px 8px #878787;
  padding: 8px 6px;
  margin: 24px 1%;
  border: 4px solid #878787;
  background-color: rgba(182,182,182,0.5);
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: #212529;
}

.register-link:hover {
  text-decoration: none;
  color: initial;
}

.blank-div {
  width: 100%;
  height: 50vh;
  min-height: 350px;
}

