.home-div .one-option {
  width: 90%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  box-shadow: 5px 8px 8px #878787;
  text-transform: uppercase;
  background-color: rgb(77,77,77);
}

@media (max-width: 576px) {
  .home-div .one-option {
    padding: 12px 0;
    margin: 24px auto;
    font-size: 15px;
  }
}

@media (min-width: 577px) {
  .home-div .one-option {
    padding: 18px 0;
    margin: 35px auto;
    font-size: 17px;
  }
}

.home-div p {
  margin-bottom: 0;
  text-align: center;
  font-family: 'Montserrat';
  color: white;
}

.home-div a:hover {
  text-decoration: none;
  font-weight: bold;
}

.home-div .p-info {
  display: flex;
  padding: 0 0 0 12px;
}

.home-div .p-info .fa.fa-check {
  color: #469d73;
  padding: 4px 4px 0 0;
}

.home-div .p-info .fa.fa-times {
  color: #e23d28;
  padding: 4px 4px 0 0;
}

