.agf-logo {
  width: 60%;
  max-width: 200px;
}

.logo-plus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 16px;
  max-width: 250px;
}

.logo-plus img {
  width: 45%;
  max-width: 100px;
}

.fs-div {
  width: 90%;
  padding-bottom: 100px;
  max-width: 500px;
  text-align: center;
}

.fs-div .new {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0 16px;
}

.fs-div .new hr {
  width: 30%;
  border-color: #999999;
}

.signup-div {
  width: 90%;
  padding: 50px 0 100px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.signup-div .sub-head {
  color: #e56a33;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0;
}

.signup-div label {
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 90%;
}

.pre-login {
  padding: 24px 18px;
}

.pre-login .btn {
  width: 100%;
  padding: 8px 12px;
  margin: 24px 0;
}

