.qty-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qty-div .btn {
  background-color: transparent;
  outline: none;
  width: 75px;
}

.qty-div .btn:hover {
  background-color: transparent;
  outline: none;
  color: #e56a33;
}

.pos-form {
  position: relative;
  margin: auto;
  padding: 2% 3%;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.pos-form .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*margin: 0;*/
}

.pos-form input[type=checkbox], .pos-form input[type=radio] {
  height: 18px;
  width: 18px;
}

.pos-form label {
  margin-bottom: 0px;
}

.pos-form.extras .form-control {
  width: 60px;
  padding: 0px 10px;
  /*height: 30px;*/
}

.pos-form.extras .form-group {
  margin-bottom: 10px;
}

#food-details .item-details p {
  margin-bottom: 2px;
}

