.table .kadmin-color th {
  background-color: #e56a33;
  font-weight: 500;
  color: #fff;
}

.cell-x {
  width: 70px;
  text-align: center;
  font-size: 80%;
}

.cell-xx {
  width: 50px;
  text-align: center;
  font-size: 80%;
}

.tbl-div p {
  margin-bottom: 0;
  font-size: 80%;
  font-weight: 400;
  line-height: 1.4;
}

.smb-link {
  font-weight: 600;
  color: #222;
}

.smb-link:hover, .smb-link:focus {
  color: #e56a33;
  text-transform: none;
  text-decoration: none;
  outline: none;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.smb-list {
  padding: 6px;
}

.smb-list li {
  font-size: 90%;
  font-weight: 800;
}

.smb-list span {
  padding-left: 4px;
  font-weight: initial;
}

.smb-list li .fa, .smb-list li .far, .smb-list li .fas {
  color: #e56a33;
  width: 28px;
  font-size: 120%;
  float: left;
}

.kadmin-div-prices {
  margin: 8px 0;
  background-color: rgba(235, 235, 235, 0.6);
  border: 1px solid #e56a33;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.details-div {
  background-color: #fff;
}

@media (min-width: 992px) {
  .details-div .img-div {
    width: calc(100vw*0.24);
    max-width: 93%;
    height: calc(100vw*0.24);
    max-height: 215px;
    overflow: hidden;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .details-div .img-div {
    width: calc(100vw*0.30);
    max-width: 95%;
    height: calc(100vw*0.30);
    max-height: 210px;
    overflow: hidden;
  }
}

@media (max-width: 575px) {
  .details-div .img-div {
    width: calc(100vw*0.33);
    max-width: 95%;
    height: calc(100vw*0.33);
    overflow: hidden;
  }
}

