.info {
  max-width: 600px;
  margin: auto;
}

.info .title {
  font-family: 'Anton';
  text-transform: uppercase;
  margin: 1% 3%;
  text-align: center;
  color: #e56a33;
}

.media-type {
  color: #e56a33;
  font-weight: 600;
  margin-left: 6px;
  text-transform: uppercase;
}

.choose-lg-img .form-group {
  text-align: center;
  display: inline-block;
  width: 49%;
  padding: 4px 6px;
}

.one-item-div.signage {
  margin: 0px;
  padding: 0px;
  box-shadow: none;
}

.one-item-div.signage h6, .one-item-div.signage .h6 {
  text-transform: unset;
}

.one-item-div.signage a.plain-link .row {
  margin-bottom: 0px;
}

.signage-img {
  overflow: hidden;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

@media (max-width: 767px) {
  .multi-check-select.signage span {
    font-size: 90%;
  }
}

.multi-check-select.signage {
  max-width: unset;
  max-height: unset;
  overflow: auto;
  font-size: 90%;
}

.select-btn-row .inner {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
}

.select-btn-row {
  background-color: rgba(215,115,69,0.3);
  padding: 8px 24px;
}

.select-btn-row .btn {
  width: 80%;
  max-width: 100px;
}

.selected-div {
  height: 35%;
  position: relative;
  overflow: auto;
  padding-bottom: 4px;
  background-color: rgba(240,240,240,0.8);
}

.selection {
  height: calc(65% - 42px);
  position: relative;
  padding-top: 8px;
  overflow: auto;
  background-color: rgba(240,240,240,0.8);
}

.form-page .title {
  font-family: 'Anton';
  margin: 6px 3%;
  text-transform: capitalize;
}

.player-smb .table-sm td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.player-smb .table-sm td.smb, .player-smb .table-sm th.smb {
  color: #e56a33;
}

.sp-hdr-info {
  padding: 1% 3%;
  background-color: rgba(255,255,255,0.7);
}

.sp-hdr-info .title {
  font-family: 'Anton';
  color: #e56a33;
  text-transform: uppercase;
}

.multi-check-select.signage .form-row {
  padding: 2px 0;
}

.multi-check-select.signage .btn {
  padding: 1px 4px;
  font-size: 110%;
}

.image-list, .video-list {
  background-color: rgba(255,255,255,0.6);
  overflow: hidden;
  text-align: center;
  padding: 2% 0;
  position: relative;
}

.one-item-media {
  position: relative;
  padding: 4px 0 55px;
  background-color: rgb(255,255,255);
  overflow: hidden;
  box-shadow: 0.5px 0.5px 5px #999;
}

.image-list .one-item-media:not(:last-child), .video-list .one-item-media:not(:last-child) {
  margin-right: 0;
}

@media (min-width: 992px) {
  .image-list .one-item-media {
    width: calc(25% - 4px);
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    margin-top: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .image-list .one-item-media {
    width: 33%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .image-list .one-item-media {
    width: calc(50% - 2px);
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    margin-top: 6px;
  }
}

@media (min-width: 992px) {
  .video-list .one-item-media {
    width: 33%;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    margin-top: 12px;
    padding-right: 2px;
    padding-left: 2px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .video-list .one-item-media {
    width: calc(50% - 2px);
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    margin-top: 8px;
    padding-right: 1px;
    padding-left: 1px;
  }
}

@media (max-width: 767px) {
  .video-list .one-item-media {
    width: 100%;
    margin-top: 6px;
  }
}

.one-item-media .media-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 500;
}

.one-item-media .media-info .name {
  font-size: 85%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0;
  text-align: center;
}

.media-img-div {
  height: 18vh;
  min-height: 130px;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-img-div img {
  max-height: 100%;
  max-width: 100%;
}

.profile-img, .profile-img-lg {
  /*border-radius: 100%;*/
  max-height: unset!important;
  min-height: unset!important;
}

@media (max-width: 575px) {
  .profile-img {
    width: 42px!important;
    height: auto!important;
  }
}

@media (min-width: 576px) {
  .profile-img {
    width: 55px!important;
    height: auto!important;
  }
}

@media (max-width: 575px) {
  .profile-img-lg {
    width: 100px!important;
    height: auto!important;
  }
}

@media (min-width: 576px) {
  .profile-img-lg {
    width: 200px!important;
    height: auto!important;
  }
}

.social-assets-list li {
  background-color: rgb(255,255,255);
  margin: 8px 0;
  overflow: hidden;
}

.social-assets-list .one-asset {
  padding: 4px 0 6px;
}

.row.one-asset {
  margin: 0;
}

@media (max-width: 767px) {
  .social-assets-list .one-asset .post-info {
    padding: 12px 10px 6px;
    align-self: center;
  }
}

@media (min-width: 768px) {
  .social-assets-list .one-asset .post-info {
    padding: 16px 8px 0 0px;
    align-self: center;
  }
}

.social-assets-list .one-asset .post-info p {
  margin-bottom: 6px;
  max-height: 100px;
  overflow: auto;
}

.social-assets-list .one-asset .post-info .btn-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0;
}

.social-assets-list .carousel, .social-assets-list .carousel-item, .social-assets-list img {
  height: 30vh;
  max-height: 400px;
  min-height: 200px;
  max-width: 100%;
}

.social-assets-list .carousel-item img {
  object-fit: contain;
}

.social-assets-list video {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.search-list {
  /*margin-left: -15px;*/
  /*margin-right: -15px;*/
  /*max-height: 40vh;*/
  /*overflow: auto;*/
}

.profile-head {
  background-color: rgb(255,255,255);
  padding: 2.5% 2%;
  box-shadow: 0.5px 0.5px 5px #999;
}

.profile-head .business {
  font-family: 'Anton';
  margin: 0 0 8px 17px;
  text-transform: capitalize;
}

.profile-head p {
  margin-bottom: 4px;
}

.profile-head .stats-tbl {
  border: transparent;
  max-width: 400px;
  margin: 16px auto;
}

.profile-head .stats-tbl td {
  padding: 0;
}

.profile-head .stats-tbl a {
  color: #23272b;
  font-weight: 600;
  text-decoration: none;
}

.profile-social {
  background-color: rgb(255,255,255);
  padding: 2.5% 2%;
  box-shadow: 0.5px 0.5px 5px #999;
}

.table-bordered {
  border: transparent;
}

.profile-social .table td.type {
  font-weight: 600;
  width: 25%;
  min-width: 100px;
  max-width: 150px;
}

@media (max-width: 767px) {
  .profile-social .table td i, .profile-info .table td i, .sub-hdng i {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .profile-social .table td i, .profile-info .table td i, .sub-hdng i {
    font-size: 18px;
  }
}

.profile-social .table td.settings, .profile-info .table td.settings {
  text-align: center;
  width: 10%;
  min-width: 40px;
}

.profile-social .table td .url-link {
  font-size: 90%;
  line-height: 1rem;
}

.smb-numbers {
  font-size: 85%;
  display: flex;
  justify-content: space-between;
  padding: 6px 8px 0 8px;
  max-width: 400px;
}

.profile-btns {
  display: flex;
  justify-content: space-between;
  padding: 6px 8px 0 8px;
  max-width: 400px;
}

.smb-numbers label {
  margin-bottom: 0;
}

.smb-numbers .form-control {
  text-align: center;
  font-size: inherit;
}

.smb-numbers .form-group {
  display: block;
  text-align: center;
}

.profile-info {
  background-color: rgb(255,255,255);
  padding: 1.5% 2%;
  box-shadow: 0.5px 0.5px 5px #999;
}

.profile-info .hd-cell {
  color: #e56a33;
  padding-left: 0;
  text-transform: uppercase;
  width: 25%;
}

.profile-info a {
  color: #23272b;
  font-weight: 600;
  text-decoration: none;
  padding: 4px 8px;
}

.stats-info {
  background-color: rgba(255,255,255,0.4);
  display: flex;
  padding: 10px 4px;
}

.stats-info p {
  margin-bottom: 0;
}

.add-business-div {
  margin-top: 48px;
  background-color: rgba(255,255,255,0.8);
  padding: 2.5% 2%;
  box-shadow: 0.5px 0.5px 5px #999;
}

.add-business-div form {
  max-width: 600px;
  margin: auto;
}

.one-item-div.signage .social-list {
  font-size: 80%;
  text-transform: uppercase;
  color: #999999;
  margin-bottom: 0;
}

.one-account {
  border-bottom: 1px solid rgba(215,115,69,0.3);
  padding: 6px 0 4px;
  background-color: #fff;
  margin: 0;
}

.one-account .account-name {
  color: #e56a33;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.one-account .btn-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
}

.social-logo-list {
  display: flex;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .social-logo-list img {
    height: 18px;
  }
}

@media (min-width: 768px) {
  .social-logo-list img {
    height: 22px;
  }
}

@media (max-width: 767px) {
  .social-logo-list i {
    font-size: 16px;
    padding: 0 8px;
  }
}

@media (min-width: 768px) {
  .social-logo-list i {
    font-size: 20px;
    padding: 0 10px;
  }
}

.one-item-media.explained {
  padding: 0;
}

.one-item-media.explained .title p {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.one-item-media.explained .title {
  height: 56px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wall-btns {
  display: flex;
  align-items: center;
}

.wall-btns .btn {
  width: 25%;
  max-width: 200px;
  padding: 2px 4px 2px 0;
  font-size: 90%;
  margin-right: 16px;
  font-weight: 600;
  text-align: left;
}

.wall-btns .btn i {
  font-size: 130%;
}

